<% provide(:title, "着せ替え") %>
<div class="container">

  <div id="Closets" class="row box" style="padding-bottom: 0px;">
    <!-- カテゴリアイテム一覧 -->
    <div id="ClosetsItems" class="col-xs-4">
    <% @all_clothes.each do |key, val| %>
      <% val.each do |obj| %>
        <div class="col-md-6 col-sm-12">
        <%# 持ってるかどうか判定 %>
        <% if @user_has_clothes[obj.id] == true %>
          <div class="ItemBox" onclick="draw_image('<%= key %>', '<%= obj.image %>', <%= obj.priority %>, <%= obj.id %>);">
<% if Rails.env == 'production' then %>
            <div class="ItemImg" style='background-image: url("https://<%= obj.image %>")'></div>
<% else %>
            <div class="ItemImg" style='background-image: url("<%= obj.image %>")'></div>
<% end %>
          </div>
        <% else %>
          <!--ここに買っていない画像描画を挟む-->
          <div class="ItemBox" onclick='confirm_clothes_purchase("<%= obj.name %>",<%= @user.coin %>,<%= obj.price %>,<%= obj.id %>,<%= @user.id %>)'>
<% if Rails.env == 'production' then %>
            <div class="ItemImg" style='background-image: url("https://<%= obj.image %>")'>
<% else %>
            <div class="ItemImg" style='background-image: url("<%= obj.image %>")'>
<% end %>
              <div class="ItemDark"></div>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
      <% break %>
    <% end %>
    </div>


    <!-- キャラクタ表示領域 -->
    <div id="ClosetsCharactor" class="col-xs-8" style="background-image:url(<%= asset_path 'closet-img.jpg' %>);">
    <!-- 決定ボタン -->
      <div onclick="post_json('<%= user_path(current_user.id) %>');">
        <%= image_tag 'icons/totop.png', :height => 64, :width => 64, :alt => 'トップへ戻る', :id => "ClosetsToTopBtn" %>
      </div>
    <!-- レイヤ描画 -->
      <% @send_clothes.each do |key, val| %>
        <div id="<%= key %>" class="Layers">
          <div id="<%= key %>-id" style="display:none;"></div>
        </div>
      <% end %>
    <!-- 現在のキャラクタ描画 -->
      <% @send_user_wearing_clothes.each do |key, val| %>
        <% val.each do |obj| %>
          <% unless obj.nil? %>
<% if Rails.env == 'production' then %>
            <script>draw_image('<%= key %>', 'https://<%= obj.image %>', <%= obj.priority %>, <%= obj.id %>);</script>
<% else %>
            <script>draw_image('<%= key %>', '<%= obj.image %>', <%= obj.priority %>, <%= obj.id %>);</script>
<% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <!-- カテゴリ一覧 -->
    <div id="ClosetsItemGroups" class="col-xs-12">
      <div id="ClosetsItemGroupsIcons">
      <% @all_clothes.each do |key, val| %>
        <% hash = Hash.new { |h,k| h[k] = {} } %>
        <% val.each do |obj| %>
          <% unless obj.nil? %>
            <% hash[obj.id]['id'] = obj.id %>
            <% hash[obj.id]['name'] = obj.name %>
            <% hash[obj.id]['category'] = key %>
<% if Rails.env == 'production' then %>
              <% hash[obj.id]['path'] = 'https://' + obj.image.to_s %>
<% else %>
              <% hash[obj.id]['path'] = obj.image.to_s %>
<% end %>
            <% hash[obj.id]['priority'] = obj.priority %>
            <% hash[obj.id]['price'] = obj.price %>
            <% hash[obj.id]['has_clothe'] =  @user_has_clothes[obj.id]%>
            <% hash[obj.id]['user_coin'] = @user.coin %>
            <% hash[obj.id]['user_id'] = @user.id %>
          <% end %>
        <% end %>
        <div id="<%= key %>-group" class="GroupBox" data-hoge="<%= hash.to_json %>" onclick="switch_items('<%= key %>');">
<% if Rails.env == 'production' then %>
          <img src="https://<%= @tags[key].image.to_s %>" alt="" height="64px" width="64px">
<% else %>
          <%= image_tag @tags[key].image.to_s, :height => 64, :width => 64 %>
<% end %>
        </div>
      <% end %>
      </div>
    </div>

    <!-- Modal -->
    <div id="Closet-Modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">衣装購入</h3>
          </div>
        <div class="modal-body">
          <p>未所持の衣装です。</p>
          <p>衣装を購入しますか？</p>
          <div id="Closet-Modal-Price"></div>
        </div>
        <div class="modal-footer" id="Closet-Modal-Footer">
        </div>
      </div>
    </div>

  </div>
</div>
