<% provide(:title, "着せ替え") %>
<div class="container">
  <div id="Closets" class="row box">
    <div id="ClosetsItems" class="col-xs-4">
      <% @send_clothes.each do |key, val| %>
        <% val.each do |obj| %>
          <div class="col-md-6 col-sm-12">
            <div class="ItemBox" onclick="draw_image('<%= key %>', '<%= asset_path obj.file_name %>');">
              <%= image_tag asset_path obj.file_name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div id="ClosetsCharactor" class="col-xs-8" style="background-image:url(<%= asset_path 'closet-img.jpg' %>);">
      <div id="face" class="Layers" style="background-image:url(<%= asset_path 'clothes/006.png' %>);"></div>
      <% @send_clothes.each do |key, val| %>
        <% if key == 'face'%>

        <% else %>
          <div id="<%= key %>" class="Layers"></div>
        <% end%>
      <% end%>
    </div>
    <div id="ClosetsItemGroups" class="col-xs-12">
      <% @send_clothes.each do |key, val| %>
      <div class="GroupBox">
        <%= key %>
      </div>
      <% end %>
    </div>
  </div>
</div>
