<% provide(:title, "着せ替え") %>
<div class="container">
  <div id="Closets" class="row box" style="padding-bottom: 0px;">
    <!-- カテゴリアイテム一覧 -->
    <div id="ClosetsItems" class="col-xs-4">
      <% @all_clothes.each do |key, val| %>
        <% val.each do |obj| %>
        <% p val %>
          <div class="col-md-6 col-sm-12">
            <% if @user_has_clothes[obj.id] == true %>
              <div class="ItemBoxBg" onclick="draw_image('<%= key %>', '<%= obj.image %>', <%= obj.priority %>, <%= obj.id %>);">
                <div class="ItemImg" style='background-image: url("<%= obj.image %>")'></div>
              </div>
            <% else %>
              <div class="ItemBoxBg">
                <div class="ItemImg" onclick='confirm_clothes_purchase("<%= obj.name %>",<%= @user.coin %>,<%= obj.price %>,<%= obj.id %>,<%= @user.id %>);return false;' style='background-image: url("<%= obj.image %>")'>
                  <div class="ItemDark noto-light"></div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <% break %>
      <% end %>
    </div>
    <!-- キャラクタ表示領域 -->
    <div id="ClosetsCharactor" class="col-xs-8" style="background-image:url(<%= asset_path 'closet-img.jpg' %>);">
      <!-- コイン -->
      <div id="Charactor-coin">
        <%= image_tag 'icons/coin.png', :height => 40, :width => 40 %>
        <span class="noto-bold"><%= @user.coin %></span>
      </div>
      <!-- 決定ボタン -->
      <div onclick="post_json('<%= user_path(current_user.id) %>');">
        <%= image_tag 'icons/totop.png', :height => 64, :width => 64, :alt => 'トップへ戻る', :id => "ClosetsToTopBtn" %>
      </div>
      <!-- レイヤ描画 -->
      <% @all_clothes.each do |key, val| %>
        <div id="<%= key %>" class="Layers">
          <div id="<%= key %>-id" style="display:none;"></div>
        </div>
      <% end%>
      <!-- 現在のキャラクタ描画 -->
      <% @send_user_wearing_clothes.each do |key, val| %>
        <% val.each do |obj| %>
          <% unless obj.nil? %>
            <script>draw_image('<%= key %>', '<%= obj.image %>', <%= obj.priority %>, <%= obj.id %>);</script>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <!-- カテゴリ一覧 -->
    <div id="ClosetsItemGroups" class="col-xs-12">
      <div id="ClosetsItemGroupsIcons">
        <% @all_clothes.each do |key, val| %>
          <% hash = Hash.new { |h,k| h[k] = {} } %>
          <% val.each do |obj| %>
            <% unless obj.nil? %>
              <% hash[obj.id]['id'] = obj.id %>
              <% hash[obj.id]['category'] = key %>
              <% hash[obj.id]['path'] = obj.image.to_s %>
              <% hash[obj.id]['priority'] = obj.priority %>
            <% end %>
          <% end %>
          <div id="<%= key %>-group" class="GroupBox" data-hoge="<%= hash.to_json %>" onclick="switch_items('<%= key %>');">
            <% groupicon = 'icons/' + key + '.png' %>
            <%= image_tag groupicon, :height => 64, :width => 64 %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Modal -->
    <div id="Closet-Modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">衣装購入</h3>
          </div>
        <div class="modal-body">
          <p>未所持の衣装です。</p>
          <p>衣装を購入しますか？</p>
          <div id="Closet-Modal-Price"></div>
        </div>
        <div class="modal-footer" id="Closet-Modal-Footer">
        </div>
      </div>
    </div>
  </div>
</div>
