<% provide(:title, "着せ替え") %>
<div class="container">
  <div id="Closets" class="row box" style="padding-bottom: 0px;">
    <!-- カテゴリアイテム一覧 -->
    <div id="ClosetsItems" class="col-xs-4">
      <% @send_clothes.each do |key, val| %>
        <% val.each do |obj| %>
          <% unless obj.nil? %>
            <div class="col-md-6 col-sm-12">
              <div class="ItemBox" onclick="draw_image('<%= key %>', '<%= obj.image %>', <%= obj.priority %>, <%= obj.id %>);">
                <%= image_tag obj.image %>
              </div>
            </div>
          <% end %>
        <% end %>
        <% break %>
      <% end %>
    </div>
    <!-- キャラクタ表示領域 -->
    <div id="ClosetsCharactor" class="col-xs-8" style="background-image:url(<%= asset_path 'closet-img.jpg' %>);">
      <!-- 決定ボタン -->
      <a href='<%= user_path(current_user.id) %>' onclick="build_json();">
        <%= image_tag 'icons/totop.png', :height => 64, :width => 64, :alt => 'トップへ戻る', :id => "ClosetsToTopBtn" %>
      </a>
      <!-- レイヤ描画 -->
      <% @send_clothes.each do |key, val| %>
        <div id="<%= key %>" class="Layers">
          <div id="<%= key %>-id" style="display:none;"></div>
        </div>
      <% end%>
      <!-- 現在のキャラクタ描画 -->
      <% @send_user_wearing_clothes.each do |key, val| %>
        <% val.each do |obj| %>
          <% unless obj.nil? %>
            <script>draw_image('<%= key %>', '<%= obj.image %>', <%= obj.priority %>, <%= obj.id %>);</script>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <!-- カテゴリ一覧 -->
    <div id="ClosetsItemGroups" class="col-xs-12">
      <div id="ClosetsItemGroupsIcons">
        <% @send_clothes.each do |key, val| %>
          <% hash = Hash.new { |h,k| h[k] = {} } %>
          <% val.each do |obj| %>
            <% unless obj.nil? %>
              <% hash[obj.id]['id'] = obj.id %>
              <% hash[obj.id]['category'] = key %>
              <% hash[obj.id]['path'] = obj.image.to_s %>
              <% hash[obj.id]['priority'] = obj.priority %>
            <% end %>
          <% end %>
          <div id="<%= key %>-group" class="GroupBox" data-hoge="<%= hash.to_json %>" onclick="switch_items('<%= key %>');">
            <% groupicon = 'icons/' + key + '.png' %>
            <%= image_tag groupicon, :height => 64, :width => 64, :id => "hoge" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
