<!-- TopPic -->
<div id="TopPic">
	<div class="container">
		<%= image_tag("top2.png",  class:"img-responsive") %>
	</div>
</div>

<!-- Sign in Links-->
<div id="Links">
	<div class="container">
		<div class="row">
			<h1>キャラクターきせかえ家計簿アプリ「家計学園」</h1>
			<div class="col-sm-6 col-xs-12">
				<h2>Web版を使ってみる</h2>
				<%= link_to 'Sign up', signup_path, class: 'btn btn-danger' %>
			</div>
			<div class="col-sm-6 col-xs-12" style="padding-bottom:20px;">
				<h3>スマートフォンアプリを使う</h3>
				<p>(Web版でのアカウント登録が必要です)</p>
				<%= link_to image_tag("icons/google-play-badge.svg", :size=>"200x50", :border => '0', :alt => 'android app',), 'https://play.google.com/store/apps/details?id=xyz.kakeigakuen.kakeityan_agent' %>
				<!--<%= link_to image_tag("icons/app-store-badge.svg", :size=>"200x50", :border => '0', :alt => 'iOS app'), '' %>-->
			</div>
		</div>
	</div>
</div>

<div id="Slider">
	<div class="container">
		<div class="image_slider">
			<%= image_tag("slider1.png", class:"img-responsive")%>
			<%= image_tag("slider2.png", class:"img-responsive")%>
			<%= image_tag("slider3.png", class:"img-responsive")%>
			<%= image_tag("slider4.png", class:"img-responsive")%>
			<%= image_tag("slider5.png", class:"img-responsive")%>
			<%= image_tag("slider6.png", class:"img-responsive")%>
		</div>
	</div>
</div>

<div id="Features">
	<div class="container">
		<div class="row row-eq-height">
			<div id="Feature1" class="col-sm-6 col-xs-12">
				<div class="box">
					<div class="feature-text">
						<h2>音声入力でラクラク入力</h2>
					</div>
					<div class="feature-img">
						<%= image_tag("mock1.png", class:"img-responsive")%>
					</div>
				</div>
			</div>
			<div id="Feature2" class="col-sm-6 col-xs-12">
				<div class="box">
					<div class="feature-text">
						<h2><span>オリジナルキャラクター</span><span>「カケイちゃん」を着せ替えて遊ぼう！</span></h2>
					</div>
					<div class="feature-img">
						<%= image_tag("mock2.png", class:"img-responsive")%>
					</div>
				</div>
			</div>
			<div id="Abouts" class="col-xs-12">
				<div class="box">
					<h2 class="text-center">家計学園ってどんなアプリ？</h2>
					<h3>家計簿をつけられない・続かない……そんな大学生が開発！</h3>
					<p>
						<span>家計学園は大学生（開発メンバー）の</span>
						<span>「家計簿をつけなきゃとは思ってるけどなかなか続かない……」</span>
						<span>「今月も生活費がギリギリ……きちんと管理しないとなぁ…」</span>
						<span>「もっとカンタンに続けられる家計簿アプリがあればいいのに」</span>
						<span>そんな思いから生まれたアプリです。</span>
					</p>
					<h4>シンプルな入力システム</h4>
					<p>
						<span>家計学園では「今月いくら使ったか」だけを登録。</span>
						<span>今月使える残りのお金がすぐにわかります！</span>
					</p>
					<h4>コインを集めて毎日ケイゾク</h4>
					<p>
						<span>毎日コツコツ家計簿をつけるとコインが手に入ります。</span>
						<span>手に入れたコインで新しい衣装を買ってカケイちゃんを自由に着せ替えちゃおう！</span>
					</p>
					<h4>カケイちゃん</h4>
					<p>
						<span>家計学園のイメージキャラクターです。</span>
						<span>自由に着せ替えて遊んでね！</span>
					</p>
				</div>
			</div>

			<div class="col-xs-12">
				<div class="box">
					<div class="youtube">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/KdNDeTmx07s?rel=0" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>
					</div>
				</div>
				<div class="box">
					<%= link_to image_tag('bunner.png', :class => 'img-responsive center-block comics-bunner'), comics_path %>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- AppInfo -->
<div id="AppInfo">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-xs-12">
				<h1>ABOUT</h1>
				<hr width="128px">
				<p>お手軽に<br>楽しく続けられる<br>家計簿アプリです。</p>
			</div>
			<div class="col-sm-4 col-xs-12">
				<h1>TEAM</h1>
				<hr width="128px">
				<p>筑波大学2017年度<br>enPiT履修生<br>チーム [やっていき]</p>
			</div>
			<div class="col-sm-4 col-xs-12">
				<h1>CONTACT</h1>
				<hr width="128px">
				<p>Twitter @kakeigakuen</p>
			</div>
		</div>
	</div>
</div>
