<% provide(:title, "予算の設定") %>
<div class="container">
  <div class="row">
    <br>
    <div class="col-md-12">
      <div class="box">
        <div class="title">
          <h2>
            <span>予算設定</span>
          </h2>
          <hr width="240px">
        </div>
        <%= form_for(@user, url: budget_update_user_path) do |form| %>

        <div class="field">
          <%= form.hidden_field :name, value: @user.name %>
        </div>

        <div class="field">
          <%= form.hidden_field :email, value: @user.email %>
        </div>

        <div class="field">
          <%= form.label '今月の予算' %>
          <%= form.number_field :budget, id: :user_budget, class: 'form-control' %>
        </div>

        <div class="field">
            <%= form.label :password, "パスワード" %>
            <%= form.password_field :password, id: :user_password, class: 'form-control' %>
        </div>

        <div class="field">
          <%= form.label :password_confirmation, "再確認用パスワード" %>
          <%= form.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <div class="actions text-center"><br>
          <%= form.submit '登録', class: 'btn btn-primary' %>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
