<% provide(:title, "アカウント設定") %>
<div class="container">
  <div class="row">
    <br>
    <div class="col-md-12">
      <div class="box">
        <div class="title">
          <h2>
            <span>アカウント管理</span>
          </h2>
          <hr width="240px">
        </div>

        <%= form_for(@user, url: profile_update_user_path) do |form| %>

        <div class="field">
            <%= form.label :name %>
            <%= form.text_field :name, id: :user_name, class: 'form-control'%>
        </div>

        <div class="field">
            <%= form.label :email %>
            <%= form.text_field :email, id: :user_email, class: 'form-control' %>
        </div>

        <div class="field">
            <%= form.hidden_field :budget, value: @user.budget, class: 'form-control' %>
        </div>

        <div class="field">
            <%= form.label :password, "パスワード" %>
            <%= form.password_field :password, id: :user_password, class: 'form-control' %>
        </div>

        <div class="field">
            <%= form.label :password_confirmation, "再確認用パスワード" %>
            <%= form.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <div class="actions text-center"><br>
            <%= form.submit '登録', class: 'btn btn-primary' , success: '変更内容を更新しました！'%>
        </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-12 text-center" id="LogoutWithdrawButtons">
      <%= link_to 'ログアウト', {}, onclick: "confirm_delete(\"#Logout-Modal\");return false;", class: 'btn btn-default' %>
      <%= link_to '退会', {}, onclick: "confirm_delete(\"#Leave-Modal\");return false;", class: 'btn btn-danger' %>
    </div>
    <div class="col-md-12 text-center">
      <div id="Leave-Modal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title">アカウント削除</h3>
            </div>
            <div class="modal-body">
              <p>アカウントを削除します。</p>
              <p>本当によろしいですか？</p>
              <p class="text-danger"><small>家計簿やキャラクターの育成データは全て失われます。</small></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
              <%= link_to '退会する', retire_path, class: 'btn btn-danger', success: 'ご利用いただきありがとうございました！' %>
            </div>
          </div>
        </div>
      </div>
      <div id="Logout-Modal" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title">ログアウト</h3>
            </div>
            <div class="modal-body">
              <p>ログアウトしますか?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
              <%= link_to 'ログアウト', logout_path, class: 'btn btn-primary', success: 'ばいばーい！' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
