<% provide(:title, "ホーム") %>
<script type="text/javascript">
  $(document).on('turbolinks:load', users_init);
</script>

<div class="container main">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div id="Information" class="box">
        <div class="title">
          <h2>
            <span><%= @user.name %></span>
            <span>さんの家計簿</span>
          </h2>
          <hr width="240px">
        </div>
        <div>
          <p>
            <span class="title-middle noto-bold">今月の残高</span>
            <span class="title-rest noto-bold"><%= @rest %>円</span>
          </p>
          <p><span class="title-middle text-lightgray noto-light">今月の予算：<%= @budget %>円</span></p>
          <p><span class="title-middle text-lightgray noto-light">今月の出費：<%= @lost%>円</span></p>
        </div>
      </div>

      <div id="PurchaseForm" class="box">
        <div class="title">
          <h2>入出金を記録</h2>
          <hr width="240px">
        </div>
        <div>
          <%=form_for(@new_book, url: books_path) do |f| %>
            <table>
              <tr>
                <h4 class="text-lightgray noto-light">
                  <span class="form-text">用途</span>
                  <input type="text" name="items[]">
                </h4>
              </tr>
              <tr>
                <h4 class="text-lightgray noto-light">
                  <span class="form-text">金額</span>
                  <input type="text" name="costs[]">
                </h4>
              </tr>
              <tr>
                <h4 class="text-lightgray noto-light">
                  <span class="form-text">日付</span>
                  <input type="text" name="times[]" id="date">
                </h4>
              </tr>
            </table>
            <input type="submit" name="commit" value="登録" class="btn btn-danger" id="submit",
             success: '記入完了! +' + culcurate_coin(items[], costs[]).to_s>
            <%= link_to 'まとめて入力', new_book_url, :class => 'btn btn-default'%>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div id="Charactor" class="box">
        <div id="Charactor-bg">
          <div id="Charactor-coin">
            <%= image_tag 'icons/coin.png', :height => 40, :width => 40 %>
            <span class="noto-bold"><%= @user.coin %></span>
          </div>
          <%= link_to closets_path do %>
            <%= image_tag 'icons/toclosets.png', :height => 64, :width => 64, :alt => '衣装変更', :id => "Charactor-ToClosetsBtn"%>
          <% end %>
          <div id="Charactor-Img">
            <div class="Charactor-ItemImg" style='background-image:url("<%= image_path %>");'></div>
          </div>
        </div>
        <div id="Charactor-balloon">
          <div class="triangle-top"></div>
          <h4>素体ちゃん</h4>
          <p>「今日も一日がんばろう！」</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div id="PurchaseHistory" class="box">
        <div class="title">
          <h2>最近の家計簿</h2>
          <hr width="240px">
        </div>

        <%
        hash_for_timeline = Hash.new
        @books.each do |book|
           if !hash_for_timeline.has_key?(book.time)
             hash_for_timeline[book.time] = [[book.item], [book.cost]]
           else
             hash_for_timeline[book.time][0].push(book.item)
             hash_for_timeline[book.time][1].push(book.cost)
           end
           previousTime = book.time
         end
        %>

        <% if hash_for_timeline.size == 0 %>
        <br>
        <p>データがありません</p>
        <br>
        <% else %>
        <div class="timeline">
          <dl>
            <%
            month = 0
            counter = 0
            hash_for_timeline.each{|key, value|
              if counter == 10
                break
              else
                if month != key.month
            %>
            <dt>
              <%= key.year.to_s + "年" + key.month.to_s + "月" %>
            </dt>
            <%    end %>
            <% end %>
            <dd class="pos-right clearfix">
						  <div class="circ"></div>
						  <div class="time">
                <%= key.month.to_s + "/" + key.day.to_s %>
              </div>
						  <div class="events">
							  <div class="events-body">
                  <table>
                    <% sum = 0 %>
                    <% @books.where(time: key).each do |book| %>
                    <tr>
                      <td class="purchase-left noto-demilight"><%= book.item %></td>
                      <td class="purchase-middle noto-demilight">:</td>
                      <td class="purchase-right noto-demilight"><%= book.cost %>円</td>
                      <% sum += book.cost %>
                    </tr>
                    <% end %>
                    <tr class="purchase-sum">
                      <th class="purchase-left noto-bold">合計</th>
                      <th class="purchase-middle noto-bold">:</th>
                      <th class="purchase-right noto-bold"><%= sum %>円</th>
                    </tr>
                  </table>
							  </div>
						  </div>
					  </dd>
            <% counter += 1
               month = key.month
               } %>
          </dl>
        </div>
        <div class="purchase-link text-darkgray noto-regular">
          <%= link_to 'くわしく見る', books_path %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
