<p id="notice"><%= notice %></p>
<h1>ホーム画面</h1>

<p>
  <strong>残高:</strong>
  <%= @rest %>
</p>

<p>
  <strong>出費:</strong>
  <%= @lost%>
</p>

<p>
  <strong>予算:</strong>
  <%= @user.budget %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @user.exp %>
</p>

<p>
  <strong>Level:</strong>
  <%= @user.level %>
</p>


<%= link_to 'New', new_book_url %> |
<%= link_to 'index', books_path %>
