<p id="notice"><%= notice %></p>
<h1>ホーム画面</h1>

<div class="row">
  <div class="col-sm-6">
    <p>
      <strong>残高:</strong>
      <%= @rest %>
    </p>

    <p>
      <strong>出費:</strong>
      <%= @lost%>
    </p>

    <p>
      <strong>予算:</strong>
      <%= @user.budget %>
    </p>

    <h1>最近買ったもの</h1>
<% if @books.size != 0 then %>
    <table id="item_table">
      <thead>
        <tr>
          <th>日付</th><!--日付!-->
          <th>件名</th>
          <th>金額</th>
        </tr>
      </thead>

        <tbody>
            <% @books.each do |book| %>
            <tr>
            <td><%= book.created_at.strftime("%Y年%m月%d日") %></td>
            <td><%= book.item %></td>
            <td><%= book.cost %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
  <p>未登録です</p>
<% end %>
  </div>
  <div class="col-sm-6">
    <div class="col-sm-3">
    <p>
      <strong>Exp:</strong>
      <%= @user.exp %>
    </p>
    </div>

    <div class="col-sm-3">
    <p>
      <strong>Level:</strong>
      <%= @user.level %>
    </p>
    </div>
    <p> 
    <img class="img-responsive" alt="charactor" src="/assets/cookie.png" />
    </p>
  </div>
</div>

<div>
<%= link_to 'New', new_book_url %>
<% if @books.size != 0 then %>
<%= link_to 'index', books_path %>
<% end %>
</div>
