<div class="row">
 <div class="col-xs-8">
    <H1 class="title"><strong>買ったもの</strong></H1>
      <%
        year="" 
        month=""
        day = ""%>
     <% @user.books.each do |book| 
    %>
     <%if book.time.strftime("%-Y") != year then%>
    <div class="col-sm-12">
        <h2 id="books_text"><%= book.time.strftime("%-Y年") %></h2></div>
    <%end%>
     <%if book.time.strftime("%-m") != month then%>
     <div class="col-sm-12">
         <h3 id="books_text"><%= book.time.strftime("%-m月の出費") %></h3></div>
     <%end%>
        <div class="col-xs-3 col-xs-offset-2" id="books_text">
    <%if book.time.strftime("%-d") != day then%>
            <strong><%= book.time.strftime("%-d日") %></strong>
            <%end%></div>
         <div class="col-xs-9">
        <table id="books_text" >
        <tbody>
        <tr>
        <td>　<%= book.item %>　</td>
        <td>　<%= book.cost %>円　</td>
        <!--<td><%#= link_to '詳細', book %></td>!-->
            
            <td>　　<%= link_to  edit_book_path(book) do%>
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                <%end%></td>
            <td>　<%= link_to book, method: :delete, data: { confirm: 'Are you sure?' }  do%>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                <%end%></td>
      </tr>    </tbody>
            </table></div><%
       year = book.time.strftime("%-Y")
       month = book.time.strftime("%-m")
       day = book.time.strftime("%-d")
      end %>
  <%#= paginate(@books)#ページ遷移のやつ %>
  <br>

  <%= link_to 'もどる', user_path(@user) %>
</div>
</div>
