<p id="notice"><%= notice %></p>



<h1>一覧</h1>
<table id="item_table">
  <thead>
    <tr>
      <th></th><!--日付!-->
      <th>件名</th>
      <th>金額</th>
    </tr>
  </thead>

    <tbody>
        <% @books.each do |book| %>
        <tr>
        <td><%= book.created_at.strftime("%Y年%m月%d日") %></td>
        <td><%= book.item %></td>
        <td><%= book.cost %></td>
        <td><%= link_to '詳細', book %></td>
        <td><%= link_to '編集', edit_book_path(book) %></td>
        <td><%= link_to '削除', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %> |
<%= link_to 'Back', user_path(@books.first.user) %>
