<div class="container main">
  <div class="row">
    <div class="col-xs-12">
      <div id="PurchaseHistory" class="box">
        <div class="title">
          <h2>家計簿</h2>
          <hr width="300px">
        </div>

        <%
        #一覧用のハッシュ
        timesHash = Hash.new
        @books.each do |book|
           if !timesHash.has_key?(book.time)
             timesHash[book.time] = [[book.item], [book.cost]]
           else
             timesHash[book.time][0].push(book.item)
             timesHash[book.time][1].push(book.cost)
           end
           previousTime = book.time
         end
        %>
        <%
        #棒グラフ用のハッシュ
        data_for_bar_chart = Hash.new
        timesHash.each{|key,value|
          if data_for_bar_chart[key.month]
            data_for_bar_chart[key.month] += value[1].inject(0){|sum, i| sum + i }
          else
            data_for_bar_chart[key.month] = value[1].inject(0){|sum, i| sum + i }
          end
        }
        #棒グラフ用データ
        today_month = Date.today.month
        data = {
        labels: [(today_month - 5).to_s + "月",
                 (today_month - 4).to_s + "月",
                 (today_month - 3).to_s + "月",
                 (today_month - 2).to_s + "月",
                 (today_month - 1).to_s + "月",
                 (today_month).to_s + "月"],
        datasets: [
          {
              label: "過去6ヶ月の支出",
              background_color: "rgba(220,30,30,0.8)",
              data: [data_for_bar_chart[today_month - 5],
                     data_for_bar_chart[today_month - 4],
                     data_for_bar_chart[today_month - 3],
                     data_for_bar_chart[today_month - 2],
                     data_for_bar_chart[today_month - 1],
                     data_for_bar_chart[today_month]]
            }
          ]
        }
        %>
        <%= bar_chart data %>

        <div class="timeline">
          <dl>
            <%
            month = 0
            counter = 0
            timesHash.each{|key, value|
              if month != key.month
            %>
            <dt>
              <%= key.year.to_s + "年" + key.month.to_s + "月" %>
            </dt>
            <% end %>
            <dd class="pos-right clearfix">
						  <div class="circ"></div>
						  <div class="time">
                <%= key.month.to_s + "/" + key.day.to_s %>
              </div>
						  <div class="events">
							  <div class="events-body">
                  <table>
                    <% sum = 0 %>
                    <% @books.where(time: key).each do |book| %>
                    <tr>
                      <td class="purchase-left noto-demilight"><%= book.item %></td>
                      <td class="purchase-middle noto-demilight">:</td>
                      <td class="purchase-right noto-demilight"><%= book.cost %>円</td>
                      <% sum += book.cost %>
                    </tr>
                    <% end %>
                    <tr class="purchase-sum">
                      <th class="purchase-left noto-bold">合計</th>
                      <th class="purchase-middle noto-bold">:</th>
                      <th class="purchase-right noto-bold"><%= sum %>円</th>
                    </tr>
                  </table>
							  </div>
						  </div>
					  </dd>
            <% counter += 1
               month = key.month
               } %>
          </dl>
        </div>
      </div>
      <%= link_to 'もどる', user_path(@user.id) %>
    </div>
  </div>
</div>
