<%
#一覧用ハッシュ
hash_for_index = Hash.new
@books.each do |book|
   if !hash_for_index.has_key?(book.time)
     hash_for_index[book.time] = [[book.item], [book.cost]]
   else
     hash_for_index[book.time][0].push(book.item)
     hash_for_index[book.time][1].push(book.cost)
   end
   previousTime = book.time
 end
%>
<%
#棒グラフ用ハッシュ
hash_for_barchart = Hash.new
hash_for_index.each{|key,value|
  if hash_for_barchart[key.month]
    hash_for_barchart[key.month] += value[1].inject(0){|sum, i| sum + i }
  else
    hash_for_barchart[key.month] = value[1].inject(0){|sum, i| sum + i }
  end
}
#棒グラフ用データ
today = Date.today
data_for_barchart = {
labels: [today.months_ago(5).month.to_s + "月",
         today.months_ago(4).month.to_s + "月",
         today.months_ago(3).month.to_s + "月",
         today.months_ago(2).month.to_s + "月",
         today.months_ago(1).month.to_s + "月",
         today.month.to_s + "月"],
datasets: [
  {
      label: "過去6ヶ月の支出",
      background_color: "rgba(220,30,30,0.8)",
      data: [hash_for_barchart[today.months_ago(5)],
             hash_for_barchart[today.months_ago(4)],
             hash_for_barchart[today.months_ago(3)],
             hash_for_barchart[today.months_ago(2)],
             hash_for_barchart[today.months_ago(1)],
             hash_for_barchart[today.month]]
    }
  ]
}
options_for_barchart = {
  maintainAspectRatio: false,
  legend: {
      display: false
  }
}
%>
<%
#円グラフ用ハッシュ
hash_for_piechart = Hash.new
hash_for_index.each{|key,value|
  counter = 0
  for item in value[0] do
    if hash_for_piechart[item]
      hash_for_piechart[item] += value[1][counter]
    else
      hash_for_piechart[item] = value[1][counter]
    end
    counter += 1
  end
}
#円グラフ用データ
temp_sum_of_data = hash_for_piechart.values.inject(:+)
hash_for_piechart = hash_for_piechart.sort {|(k1, v1), (k2, v2)| v2 <=> v1 }
temp_array_for_labels = Array.new
temp_array_for_data = Array.new
counter = 0
temp_sum_of_0to4 = 0
if hash_for_piechart.size > 5
  piechart_size = 5
else
  piechart_size = hash_for_piechart.size
end
hash_for_piechart.each{|key, value|
  if counter == piechart_size
    temp_array_for_data.push(temp_sum_of_data - temp_sum_of_0to4)
    temp_array_for_labels.push("その他")
    break
  end
  temp_array_for_labels.push(key)
  temp_array_for_data.push(value)
  counter += 1
  temp_sum_of_0to4 += value
}
data_for_piechart = {
labels: temp_array_for_labels,
datasets: [
    {
      label: "支出内訳",
      background_color: ["rgba(220,30 ,30 ,0.8)",
                         "rgba(220,137,29 ,0.8)",
                         "rgba(124,220,29 ,0.8)",
                         "rgba(29 ,220,191,0.8)",
                         "rgba(29 ,51 ,220,0.8)",
                         "rgba(150,150,150,0.8)"],
      data: temp_array_for_data
    }
  ]
}
options_for_piechart = {
  maintainAspectRatio: false
}
%>

<div class="container main">
  <div id="PurchaseHistory" class="row box">

    <div class="title col-sm-12">
      <h2>家計簿</h2>
      <hr width="300px">
    </div>

    <% if hash_for_index.size == 0 %>
    <div class="col-xs-12">
      <br>
      <p>データがありません</p>
      <br>
    </div>
    <% end %>

    <% if hash_for_barchart.size != 0 %>
    <div class="col-sm-6 col-xs-12" id="BarChart">
      <div class="title">
        <h3>過去6ヶ月の支出</h3>
        <hr width="200px">
      </div>
      <div>
        <%= bar_chart data_for_barchart, options_for_barchart %>
      </div>
    </div>
    <% end %>

    <% if hash_for_piechart.size != 0 %>
    <div class="col-sm-6 col-xs-12" id="PieChart">
      <div class="title">
        <h3>支出内訳</h3>
        <hr width="200px">
      </div>
      <div>
        <%= pie_chart data_for_piechart, options_for_piechart %>
      </div>
    </div>
    <% end %>

    <% if hash_for_index.size != 0 %>
    <div class="col-xs-12">
      <div class="title">
        <h3>支出入一覧</h3>
        <hr width="200px">
      </div>
      <div class="timeline">
        <dl>
          <%
          month = 0
          counter = 0
          hash_for_index.each{|key, value|
            if month != key.month
          %>
          <dt>
            <%= key.year.to_s + "年" + key.month.to_s + "月" %>
          </dt>
          <% end %>
          <dd class="pos-right clearfix">
  				  <div class="circ"></div>
  				  <div class="time">
              <%= key.month.to_s + "/" + key.day.to_s %>
            </div>
  				  <div class="events">
  					  <div class="events-body">
                <table>
                  <% sum = 0 %>
                  <% @books.where(time: key).each do |book| %>
                  <tr>
                    <td class="purchase-left noto-demilight">
                      <%= book.item %>
                      <a href="<%= edit_book_path(book.id) %>">
                        <span class="glyphicon glyphicon-pencil"></span>
                      </a>
                      <a onclick='confirm_item_delete(<%= book.id %>);return false;'>
                        <span class="glyphicon glyphicon-remove"></span>
                      </a>
                    </td>
                    <td class="purchase-middle noto-demilight">:</td>
                    <td class="purchase-right noto-demilight"><%= book.cost %>円</td>
                    <% sum += book.cost %>
                  </tr>
                  <% end %>
                  <tr class="purchase-sum">
                    <th class="purchase-left noto-bold">合計</th>
                    <th class="purchase-middle noto-bold">:</th>
                    <th class="purchase-right noto-bold"><%= sum %>円</th>
                  </tr>
                </table>
  					  </div>
  				  </div>
  			  </dd>
          <% counter += 1
             month = key.month
             } %>
        </dl>
      </div>
    </div>
    <% end %>

    <%= link_to 'もどる', user_path(@user.id) %>

    <div id="Delete-Modal-Box" class="col-xs-12">
    </div>
  </div>
</div>
