<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @book.item %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @book.cost %>
</p>

<p>
  <strong>User:</strong>
  <%= @book.user_id %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%#= link_to 'Back', user(1) %>
<a href="../users/1">Back</a>
