<h1>詳細</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @book.item %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @book.cost %>
</p>



<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>

